{
  "id": 1811561422823611,
  "title": "{{device}}",
  "tags": ["{{pool}}"],
  "style": "dark",
  "timezone": "browser",
  "refresh": "15m",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [ "5m","10m","15m"],
    "time_options": ["1h","3h","6h","12h","24h","2d","7d"]
  },
  "templating": {
    "list": [
    {% if extra_template != "dom" %}
      {% if port_types %}
        {% set comma = joiner(",") -%}
        {% for port_type in port_types -%}
          {% from 'template_port.j2' import ports -%}
          {{ comma() }}{{ ports(port_type, selected_types) }}
        {% endfor -%},
      {% endif %}

      {% if radio_types %}
        {% set comma = joiner(",") -%}
        {% for port_type in radio_types -%}
          {% from 'template_radio.j2' import radio -%}
          {{ comma() }}{{ radio(port_type) }}
        {% endfor -%},
      {% endif %}

      {% if subifaces %}
        {% from "template_subiface.j2" import subiface -%}
          {{ subiface(subifaces) }},
      {% endif %}
    {% endif %}
      {% include "template_device.j2" with context -%},
      {% include "template_vendor.j2" with context -%},
      {% include "template_platform.j2" with context -%},
      {% include "template_device_id.j2" with context -%},
      {% include "template_ip_info.j2" with context -%},
      {% include "template_segment.j2" with context -%},
      {% include "template_firmware_version.j2" with context -%},
      {% include "template_discovery_interval.j2" with context -%},
      {% include "template_bi_id.j2" with context -%},
      {% include "template_ping_interval.j2" with context -%}
    ]
  },

  "annotations": {
    "list": [
      {
        "datasource": "NocDS",
        "enable": false,
        "iconColor": "rgba(255, 96, 96, 1)",
        "name": "Alarm",
        "query": "{{device_id}}"
      }
    ]
  },
  "schemaVersion": 12,
  "version": 33,
  "links": [
    {
      "icon": "doc",
      "includeVars": true,
      "keepTime": true,
      "tags": [],
      "targetBlank": true,
      "type": "link",
      "title": "png",
      "tooltip": "png",
      "url": "/ui/grafana/render/dashboard/script/noc.js?width=1800&dashboard=mo&id={{device_id}}"
    },
    {
      "icon": "doc",
      "includeVars": true,
      "keepTime": true,
      "tags": [],
      "targetBlank": false,
      "type": "link",
      "title": {% if extra_template == "iface" %}"Standart View"{% else %}"PacketsView"{% endif %},
      "tooltip": {% if extra_template == "iface" %}"Interface by Load"{% else %}"Interface by Packets"{% endif %},
      "url": "/ui/grafana/dashboard/script/noc.js?width=1800&dashboard=mo{% if extra_template == "iface" %}{% else %}&extra_template=iface{% endif %}&id={{device_id}}"
    },
    {% if dom_types %}
        {
          "icon": "doc",
          "includeVars": true,
          "keepTime": true,
          "tags": [],
          "targetBlank": false,
          "type": "link",
          "title": {%if extra_template == "dom" %}"Standart View" {% else %}"DOM View"{% endif %},
          "tooltip": {%if extra_template == "dom" %}"Interface by Load"{% else %}"Interface DOM metrics"{% endif %},
          "url": "/ui/grafana/dashboard/script/noc.js?width=1800&dashboard=mo{% if extra_template == "dom" %}{% else %}&extra_template=dom{% endif %}&id={{device_id}}"
        },
    {% endif %}
    {
      "icon": "external link",
      "includeVars": true,
      "keepTime": true,
      "tags": [
        "{{pool}}"
      ],
      "targetBlank": true,
      "type": "dashboards"
    },
    {
      "asDropdown": true,
      "icon": "external link",
      "includeVars": true,
      "tags": [
        "SYSTEM"
      ],
      "targetBlank": true,
      "type": "dashboards"
    }
  ],
  "gnetId": null,
  "rows": [
    {
      "collapse": false,
      "editable": false,
      "height": "250px",
      "showTitle": true,
      "internal_comment": "info_row",
      "title": "$device $ip $vendor $platform",
      "panels": [
      {% include "panel_device.j2" with context -%}
      {%if port_types %}
          ,
          {% include "panel_errors.j2" with context -%}
      {% endif %}

      ]
    }


    {%if fan_sensors %}
    ,
        {% set comma = joiner(",") -%}
        {
          "collapse": false,
          "editable": false,
          "height": "250px",
          "showTitle": true,
          "title": "Вентилляторы",
          "internal_comment": "fan_sensors_row",
          "panels": [
              {% from "graph_fan.j2" import sensors -%}
              {% for s in fan_sensors -%}
                  {{ comma() }}
                  {{sensors(s, loop.index)}}
              {%- endfor %}
          ]
        }
    {% endif %}

    {%if pm_sensors %}
    ,
        {% set comma = joiner(",") -%}
        {
          "collapse": false,
          "editable": false,
          "height": "250px",
          "showTitle": true,
          "title": "Модули питания",
          "internal_comment": "pm_sensors_row",
          "panels": [
              {% from "graph_power_module.j2" import sensors -%}
              {% for s in pm_sensors -%}
                  {{ comma() }}
                  {{sensors(s, loop.index)}}
              {%- endfor %}
          ]
        }
    {% endif %}

    {%if trunk_groups %}
    ,
        {% set comma = joiner(",") -%}
        {% for tg_name in trunk_groups -%}
          {{ comma() }}
          {
            "collapse": false,
            "editable": false,
            "height": "250px",
            "showTitle": true,
            "title": "Транковая группа: {{tg_name}}",
            "internal_comment": "trunk_group_row_{{tg_name}}",
            "panels": [
                {% from "graph_trunk_en_st.j2" import sensors -%}
                {% set s = trunk_groups_data_en_st[tg_name][0] %}
                {{sensors(s, s.bi_ids[0], s.bi_ids[1], loop.index)}}
                ,
                {% from "graph_sensor_value.j2" import sensors -%}
                {% set s = trunk_groups_data[tg_name][1] %}
                {{sensors(s, loop.index)}}
                ,
                {% from "graph_trunk_calls.j2" import sensors -%}
                {% set s = trunk_groups_data_calls[tg_name][0] %}
                {{sensors(s, s.bi_ids[0], s.bi_ids[1], s.bi_ids[2], loop.index)}}
                ,
                {% from "graph_trunk_cps.j2" import sensors -%}
                {% set s = trunk_groups_data_cps[tg_name][0] %}
                {{sensors(s, s.bi_ids[0], s.bi_ids[1], s.bi_ids[2], loop.index)}}
                ,
                {% from "graph_trunk_channels.j2" import sensors -%}
                {% set s = trunk_groups_data_channels[tg_name][0] %}
                {{sensors(s, s.bi_ids[0], s.bi_ids[1], s.bi_ids[2], loop.index)}}

            ]
          }
        {%- endfor %}
    {% endif %}


    {%if object_check_metrics %}
      ,
      {
        "collapse": true,
        "editable": false,
        "height": "250px",
        "showTitle": true,
        "internal_comment": "object_check_metrics",
        "title": "Check metrics",
        "panels": [
            {% for metric in object_check_metrics -%}
              {% if "result" in metric.metric %}
                {% include "graph_check_result.j2" with context -%},
              {% endif %}
              {% if "rtt" in metric.metric %}
                {% include "graph_check_ping.j2" with context -%},
              {% endif %}
            {%- endfor %}
        ]

      }
    {% endif %}

    {% if object_metrics %}
        ,
        {
          "collapse": false,
          "editable": false,
          "height": "250px",
          "showTitle": true,
          "internal_comment": "object_metrics",
          "title": "Objects metrics",
          "panels": [
            {% set comma = joiner(",") -%}
            {% for graph in object_metrics -%}
              {% if "Subscribers | Summary" in graph %}
                {{ comma() }}{% include "graph_subscribers_summary_total.j2" with context -%},
                {% include "graph_subscribers_summary_slot.j2" with context -%},
                {% include "graph_subscribers_summary_port.j2" with context -%}
              {% else %}
                {% set template = 'graph_' + graph | lower() |replace(" ","") | replace("|","_") + '.j2' %}
                {{ comma() }}{% include [template, "graph_default.j2"] ignore missing with context %}
              {% endif %}
            {%- endfor %}
          ]

        }
    {% endif %}

  ]
}
