{% macro pnhosts(host, lindex) -%}
{
  "title": "Active Sessions",
  "aliasColors": {},
  "bars": false,
  "datasource": null,
  "fill": 1,
  "grid": {
    "threshold1": null,
    "threshold1Color": "rgba(216, 200, 27, 0.27)",
    "threshold2": null,
    "threshold2Color": "rgba(234, 112, 112, 0.22)"
  },
  "id": {{1555000300 + lindex + 100}},
  "legend": {
    "alignAsTable": true,
    "avg": false,
    "current": true,
    "max": true,
    "min": true,
    "show": true,
    "sortDesc": true,
    "total": false,
    "values": true
  },
  "lines": true,
  "linewidth": 2,
  "links": [],
  "minSpan": 6,
  "nullPointMode": "connected",
  "percentage": false,
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "span": 3,
  "stack": false,
  "steppedLine": false,
  "targets": [
    {
      "intervalFactor": 1,
      "query": "SELECT t, groupArray((pn_metric, Value)) AS groupArr FROM (SELECT pn_metric, $timeSeries as t, argMax(peer_nodes_value, t) as Value FROM $table WHERE pn_host='{{ host }}' AND pn_metric IN ('omSipSAStatsCurrentActiveSessionsInbound', 'omSipSAStatsCurrentActiveSessionsOutbound') AND $timeFilter GROUP BY pn_metric, t ORDER BY pn_metric, t) GROUP BY t ORDER BY t ASC",
      "refId": "A",
      "resultFormat": "time_series",
      "database": "{{ noc_db_metrics }}",
      "tableLoading": false,
      "table": "object",
      "dateLoading": false,
      "datetimeLoading": false,
      "dateColDataType": "date",
      "dateTimeColDataType": "ts"
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "tooltip": {
    "msResolution": false,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "graph",
  "xaxis": {
    "show": true,
    "mode": "time",
    "name": null,
    "values": [],
    "buckets": null
  },
  "y-axis": true,
  "yaxes": [
    {
      "format": "none",
      "label": "",
      "logBase": 1,
      "max": null,
      "min": 0,
      "show": true,
      "decimals": 0
    },
    {
      "logBase": 1,
      "show": false,
      "max": null,
      "format": "short",
      "min": null,
      "label": null
    }
  ]
}
{%- endmacro %}
