{
  "title": "Object | HAState",
  "aliasColors": {},
  "bars": false,
  "datasource": null,
  "fill": 1,
  "grid": {},
  "id": 6356988758793,
    "legend": {
    "alignAsTable": true,
    "avg": false,
    "current": true,
    "max": false,
    "min": true,
    "show": true,
    "sortDesc": true,
    "total": false,
    "values": true,
    "rightSide": false
  },
  "lines": true,
  "linewidth": 2,
  "links": [],
  "nullPointMode": "connected",
  "percentage": false,
  "pointradius": 5,
  "points": false,
  "renderer": "flot",
  "seriesOverrides": [],
  "span": 6,
  "stack": false,
  "steppedLine": false,
  "decimals": 0,
  "targets": [
    {
      "dateTimeColDataType": "ts",
      "datetimeLoading": false,
      "database": "{{ noc_db_metrics }}",
      "dateLoading": false,
      "tableLoading": false,
      "dateColDataType": "date",
      "table": "object",
      "intervalFactor": 1,
      "query": "SELECT $timeSeries as t, avg(hastate) as `HAState` FROM $table WHERE managed_object=$bi_id and $timeFilter and has(labels,'noc::object::HAState') GROUP BY t ORDER BY t",

      "refId": "A",
      "resultFormat": "time_series"
    }
  ],
  "timeFrom": null,
  "timeShift": null,
  "tooltip": {
    "msResolution": false,
    "shared": true,
    "sort": 0,
    "value_type": "cumulative"
  },
  "type": "stat",
  "x-axis": true,
  "xaxis": {
    "show": true
  },
  "y-axis": false,
  "yaxes": [
    {
      "format": "none",
      "label": null,
      "logBase": 1,
      "max": null,
      "min": 0,
      "show": true,
      "decimals": 0
    },    {
      "format": null,
      "label": null,
      "logBase": 1,
      "max": null,
      "min": null,
      "show": false
    }
  ],
  "fieldConfig": {
    "defaults": {
      "mappings": [
        {
          "type": "value",
          "options": {
            "1": {
              "text": "initial",
              "index": 0
            },
            "2": {
              "text": "active/standalone",
              "index": 1
            },
            "3": {
              "text": "active standby",
              "color": "yellow",
              "index": 2
            },
            "4": {
              "text": "outOfService",
              "color": "red",
              "index": 3
            }
          }
        }
      ]
    },
    "overrides": []
  }
}
